<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shortify</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
      *{
        font-family: 'Kumbh Sans', sans-serif;
      }
      .heading-center {
        font-weight: 500;
        text-align: center;
        margin-top: 30vh;
      }
      .count {
        font-size: 128px;
      }
      .text {
        font-size: 64px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="heading-center">Shortify</h1>
      <h1 id="short" class="text-center mt-4" style="font-size: 32px;">shortify</h1>
      <div class="row mt-3 center align-end">
        <span class="count ml-auto">0</span>
        <span class="text mr-auto mt-4 ml-2">Visitors</span>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        const route = window.location.href.split('/').pop();
        $('#short').html(`www.shortify.tech/${route}`)
        $.ajax({url: '/analytics', data: { route }, type: 'POST', success: function(res) {
          $('.count').html(res.visitors);
        }})
      })
    </script>
  </body>
</html>